<link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="statiuc/js/bootstrap.min.js"></script>-->
<!--<script src="static/js/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<body>
<div class="container">
    <form id="login-form" class="form" action="/logout" method="post">
        <div class="form-group">
         <input type="submit" name="Login" class="btn btn-info btn-md" value="Logout" style="float: right;">
        </div>
    </form>
    <br><br><br>
    <div class="form-group">
      <h3> Simple webpage.</h3>
      <p>Application use Python and MangoDB to log.</p>
    </div>
</div>

</body>